vsphere_server            = "vcenter.example.com"
vsphere_user              = "administrator@vcenter.local"
vsphere_password          = "VMware!1"
vsphere_datacenter        = "datacenter"
vsphere_cluster           = "cluster"
vsphere_datastore         = "datastore"
vsphere_folder            = "VM"
vsphere_mgmt_network      = "VM Network"
guest_name_prefix         = "myusername"
guest_template            = "ubuntu-20.04-cloud-init"
guest_all_vcpu            = "4"
guest_all_memory          = "8192"
guest_etcd_vcpu           = "1"
guest_etcd_memory         = "4096"
guest_controlplane_vcpu   = "1"
guest_controlplane_memory = "4096"
guest_worker_vcpu         = "1"
guest_worker_memory       = "4096"
guest_ssh_key             = "ssh-rsa KEY"
guest_user                = "rancher"
count_all_nodes           = "1"
count_etcd_nodes          = "0"
count_controlplane_nodes  = "0"
count_worker_nodes        = "0"
docker_version            = "20.10"
rke_version               = "rke1"
